# 가상환경 전체를 무시
.venv/

# OS/IDE 관련 파일 무시
*.swp
*.swo
Thumbs.db
.DS_Store
*.log

# 파이썬 컴파일 캐시
__pycache__/
*.py[cod]
*$py.class

# 테스트 캐시
.pytest_cache/

# egg-info, 빌드 산출물
*.egg-info/
build/
dist/
*.egg

# 데이터 파일(예: MNIST 다운로드용 .gz 등)
data/

# Visual Studio Code 설정
.vscode/

# 임시 파일 등
*.tmp
